Superstore-sales-master/flows (1).json
[{"id":"9f66477.ed7c4b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7ab9b726.9f1fa8","type":"ui_form","z":"9f66477.ed7c4b8","name":"","label":"","group":"817692ce.898e2","order":1,"width":0,"height":0,"options":[{"label":"Quantity","value":"Quantity","type":"number","required":true},{"label":"Discount","value":"Discount","type":"number","required":true},{"label":"Profit","value":"Profit","type":"number","required":true}],"formValue":{"Quantity":"","Discount":"","Profit":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":73.5,"y":231,"wires":[["ad51517d.c9fcc","924d9f75.51b46","492c1c5e.a117c4","2d5854bd.38824c","8a1af33c.67dd9"]]},{"id":"ad51517d.c9fcc","type":"ui_text","z":"9f66477.ed7c4b8","group":"817692ce.898e2","order":0,"width":0,"height":0,"name":"","label":"Quantity","format":"{{msg.payload.Quantity}}","layout":"row-spread","x":259.5,"y":231,"wires":[]},{"id":"924d9f75.51b46","type":"debug","z":"9f66477.ed7c4b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":271.5,"y":176,"wires":[]},{"id":"492c1c5e.a117c4","type":"function","z":"9f66477.ed7c4b8","name":"tokenGeneration","func":"global.set(\"Quantity\",msg.payload.Quantity);\nglobal.set(\"Discount\",msg.payload.Discount);\nglobal.set(\"Profit\",msg.payload.Profit);\nreturn msg;","outputs":1,"noerr":0,"x":306.5,"y":111,"wires":[["16db3925.ccef77"]]},{"id":"16db3925.ccef77","type":"http request","z":"9f66477.ed7c4b8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":523.5,"y":112,"wires":[["f73c979a.1f0958","c00e56c8.669d58"]]},{"id":"f73c979a.1f0958","type":"debug","z":"9f66477.ed7c4b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":517.5,"y":191,"wires":[]},{"id":"c00e56c8.669d58","type":"function","z":"9f66477.ed7c4b8","name":"prediction","func":"var token = msg.payload.token;\nmsg.payload = {\"fields\": [\"Quantity\",\"Discount\",\"Profit\"],\"values\": [[global.get(\"Quantity\"),global.get(\"Discount\"),global.get(\"Profit\")]]};\nmsg.headers = {\"Authorization\": \"Bearer \"+token};\nreturn msg;","outputs":1,"noerr":0,"x":500.625,"y":37.500022888183594,"wires":[["fb30e82c.6a01e8"]]},{"id":"fb30e82c.6a01e8","type":"http request","z":"9f66477.ed7c4b8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/bdcce453-ded8-45ee-b687-a738ea1901c3/deployments/87806c73-6aee-42a2-8a9f-44d63911155b/online","tls":"","proxy":"","authType":"basic","x":673.83935546875,"y":37.49999237060547,"wires":[["3b2d3c08.80ecc4","a97f0759.d2af48"]]},{"id":"3b2d3c08.80ecc4","type":"debug","z":"9f66477.ed7c4b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":877.8572387695312,"y":38.57141876220703,"wires":[]},{"id":"a97f0759.d2af48","type":"function","z":"9f66477.ed7c4b8","name":"parsing","func":"msg.payload = msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":890.7142857142857,"y":114.28571428571428,"wires":[["dfc248b7.1d4de8","b95539c5.da32c8"]]},{"id":"dfc248b7.1d4de8","type":"debug","z":"9f66477.ed7c4b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1077.8571428571427,"y":114.28571428571428,"wires":[]},{"id":"b95539c5.da32c8","type":"ui_text","z":"9f66477.ed7c4b8","group":"817692ce.898e2","order":2,"width":0,"height":0,"name":"","label":"PredictedSales","format":"{{msg.payload}}","layout":"row-spread","x":1070.7142857142856,"y":204.28571428571428,"wires":[]},{"id":"2d5854bd.38824c","type":"ui_text","z":"9f66477.ed7c4b8","group":"817692ce.898e2","order":3,"width":0,"height":0,"name":"","label":"Discount","format":"{{msg.payload.Discount}}","layout":"row-spread","x":260.5,"y":278,"wires":[]},{"id":"8a1af33c.67dd9","type":"ui_text","z":"9f66477.ed7c4b8","group":"817692ce.898e2","order":4,"width":0,"height":0,"name":"","label":"Profit","format":"{{msg.payload.Profit}}","layout":"row-spread","x":239.5,"y":333,"wires":[]},{"id":"817692ce.898e2","type":"ui_group","z":"","name":"Default","tab":"4da9d886.b5dca8","disp":true,"width":"6","collapse":false},{"id":"4da9d886.b5dca8","type":"ui_tab","z":"","name":"Salary Predictor","icon":"dashboard","disabled":false,"hidden":false}]